  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
    <nav>
      <i class="fas fa-meteor fa-2x"></i>
      <a href="/allCards">All Cards</a>
      <a href="/newreadings">Get a New Rading</a>
      <a href="/favoriteCards">My Favorite Cards</a>
      <a href="/pastReadings">My Past Readings</a>
      <a href="/profile" >My Profile</a>
    </nav>

    <% if (user) { %>
      <a href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
 
