<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<div>
<h1> 78 Cards</h1>


</div>

<section> 

<img src="/images/cards/c01.jpg" alt="">
<img src="/images/cards/c02.jpg" alt="">
<img src="/images/cards/c03.jpg" alt="">
<img src="/images/cards/c04.jpg" alt="">
<img src="/images/cards/c05.jpg" alt="">
<img src="/images/cards/c06.jpg" alt="">
<img src="/images/cards/c07.jpg" alt="">
<img src="/images/cards/c08.jpg" alt="">
<img src="/images/cards/c09.jpg" alt="">
<img src="/images/cards/c10.jpg" alt="">
<img src="/images/cards/c11.jpg" alt="">
<img src="/images/cards/c12.jpg" alt="">
<img src="/images/cards/c13.jpg" alt="">
<img src="/images/cards/c14.jpg" alt="">
<img src="/images/cards/m00.jpg" alt="">
<img src="/images/cards/m01.jpg" alt="">
<img src="/images/cards/m02.jpg" alt="">
<img src="/images/cards/m03.jpg" alt="">
<img src="/images/cards/m04.jpg" alt="">
<img src="/images/cards/m05.jpg" alt="">
<img src="/images/cards/m06.jpg" alt="">
<img src="/images/cards/m07.jpg" alt="">
<img src="/images/cards/m08.jpg" alt="">
<img src="/images/cards/m09.jpg" alt="">
<img src="/images/cards/m10.jpg" alt="">
<img src="/images/cards/m11.jpg" alt="">
<img src="/images/cards/m12.jpg" alt="">
<img src="/images/cards/m13.jpg" alt="">
<img src="/images/cards/m14.jpg" alt="">
<img src="/images/cards/m15.jpg" alt="">
<img src="/images/cards/m16.jpg" alt="">
<img src="/images/cards/m17.jpg" alt="">
<img src="/images/cards/m18.jpg" alt="">
<img src="/images/cards/m19.jpg" alt="">
<img src="/images/cards/m20.jpg" alt="">
<img src="/images/cards/p00.jpg" alt="">
<img src="/images/cards/p01.jpg" alt="">
<img src="/images/cards/p02.jpg" alt="">
<img src="/images/cards/p03.jpg" alt="">
<img src="/images/cards/p04.jpg" alt="">
<img src="/images/cards/p05.jpg" alt="">
<img src="/images/cards/p06.jpg" alt="">
<img src="/images/cards/p07.jpg" alt="">
<img src="/images/cards/p08.jpg" alt="">
<img src="/images/cards/p09.jpg" alt="">
<img src="/images/cards/p10.jpg" alt="">
<img src="/images/cards/p11.jpg" alt="">
<img src="/images/cards/p12.jpg" alt="">
<img src="/images/cards/p13.jpg" alt="">
<img src="/images/cards/p14.jpg" alt="">
<img src="/images/cards/s00.jpg" alt="">
<img src="/images/cards/s01.jpg" alt="">
<img src="/images/cards/s02.jpg" alt="">
<img src="/images/cards/s03.jpg" alt="">
<img src="/images/cards/s04.jpg" alt="">
<img src="/images/cards/s05.jpg" alt="">
<img src="/images/cards/s06.jpg" alt="">
<img src="/images/cards/s07.jpg" alt="">
<img src="/images/cards/s08.jpg" alt="">
<img src="/images/cards/s09.jpg" alt="">
<img src="/images/cards/s10.jpg" alt="">
<img src="/images/cards/s11.jpg" alt="">
<img src="/images/cards/s12.jpg" alt="">
<img src="/images/cards/s13.jpg" alt="">
<img src="/images/cards/s14.jpg" alt="">
<img src="/images/cards/w00.jpg" alt="">
<img src="/images/cards/w01.jpg" alt="">
<img src="/images/cards/w02.jpg" alt="">
<img src="/images/cards/w03.jpg" alt="">
<img src="/images/cards/w04.jpg" alt="">
<img src="/images/cards/w05.jpg" alt="">
<img src="/images/cards/w06.jpg" alt="">
<img src="/images/cards/w07.jpg" alt="">
<img src="/images/cards/w08.jpg" alt="">
<img src="/images/cards/w09.jpg" alt="">
<img src="/images/cards/w10.jpg" alt="">
<img src="/images/cards/w11.jpg" alt="">
<img src="/images/cards/w12.jpg" alt="">
<img src="/images/cards/w13.jpg" alt="">
<img src="/images/cards/w14.jpg" alt="">


</section>
<%- include('../partials/footer') %>