<style>
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');
</style>
<%- include('../partials/html-head') %> <%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/newReading/index.css ">
<section>
  <div>
    <h1>🔮 Enter your question 🔮</h1>
    <div>
    <p> Instructions: 
      <ul>
        <li>1. Think about a yes or no/open-ended question </li>
        <li>2. Enter your question </li>
        <li>3. Click on the Shuffle button</li>
        <li>4. Enter your own interpretations/comments</li>
        <li>4. Save your reading</li>
    </ul>
    </p>
    
  
  <% if (user) { %>
  <form action="/newReading/result" method="POST">
    <label>
      <textarea placeholder="Enter your questions/concerns here" rows="4" cols="50" type="text" name="question" required></textarea> 
    </label>
    <button id="shuffleButton" type="submit">Shuffle</button>
  </form>
  <% } %>
  </div>
</section>

<%- include('../partials/footer') %>
