<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section> 
    <h1>My past readings</h1>
    <p> Instructions:
        1. Find a quiet place and think about a yes or no question
        2. Enter your question
        3. Submit by clickling on the Shuffle button
        4. Save your reading
    </p>
    <% if (user) { %>
     <!-- delet method  -->
</section>
















<%- include('../partials/footer') %>