<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section> 
    <h1>My past readings</h1>
    <p> 
    </p>
    <% if (user) { %>
    
</section>
















<%- include('../partials/footer') %>