<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<h1> Fav Cards </h1>

<section> 

<img src="/images/cards/c01.jpg" alt="">
<img src="/images/cards/c02.jpg" alt="">
<img src="/images/cards/c03.jpg" alt="">

</section>
<%- include('../partials/footer') %>
